


body{
    color:#fff;
    background:url("https://img.spicinemas.in/resources/images/spi-background-single.jpg") no-repeat fixed center top black;
    margin:0px;
    width:100%;
    height:100%;
}


.movie-image{
    width:33.063em;
    vertical-align: top;
}
.content_area
{
    padding-left: 6.688em;
    width:60%;
      vertical-align: top;
}
.content_area > div
{
    height:33%;
    text-align: left;
}
.screen-name {
    font: Quicksand Bold-Regular;
    font-size: 7.1935em;
}
.movie-content{
    font: Quicksand Bold-Regular;
    font-size: 3.0948958642826em;
}
.movie_next_font{
    font: Quicksand Bold-Regular;
    font-size: 44pt;
}
.movie-header
{
    height: 4.063em;
}

#content {
    width: 100%;
}

.item > div {
    display: inline-block;
}
.item
{
    padding: 0.225em 1.750em;
    height: 48.000em;
}
